<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207705978910-nf3m7ebthbhib4939tu5kvcgpagdkftk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207705978910-nf3m7ebthbhib4939tu5kvcgpagdkftk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207705978910-hvh6euoiqanhpdavi201vq5rtti13h5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjG-ThofU4O86LMOEqHkmGpMhqjFHrGjU</string>
	<key>GCM_SENDER_ID</key>
	<string>207705978910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-80bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-80bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207705978910:ios:d087c6c5b3c5aae409560f</string>
</dict>
</plist>